<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kişi ekle</title>
</head>
<body>
  <h1>Yeni kişi ekle</h1>
  <form method="GET">
    <label for="adi">Adı:</label>
    <input type="text" name="adi" required="required" /> <br /> <br />
    <label for="soyadi">Soyadı:</label>
    <input type="text" name="soyadi" required="required" />
    <input type="submit" value="Ekle" />
  </form>
</body>
</html>