<html>

<head>
    <title>Reset Password</title>
</head>

<body style=" background: #f1f1f1; padding-top: 50px;   font-family: Arial,Tahoma;">
  <div
    style="width: 500px; height: 650px; border-bottom: solid 10px #ccc;  background: #fff; border-radius: 30px;  margin:auto; padding: 50px;">
    <img style="width: 200px;  margin-bottom: 30px; display: block; margin:auto;"
      src="https://doorsapp.com.tr/doors/logo.png" /></br></br>
    <img style="width: 100px;  display: block; margin:auto;" src="https://garajapp.com.tr/aktivasyon-maili/email.png" />
    <div
      style="width: 100%; margin-top: 30px; margin-bottom: 30px; font-size: 30px; text-align: center; color: #050a23; font-weight: bold;">
      Şifre Sıfırlama </div>
    <div style="width: 100%; text-align: center; color: #676767;"> Merhaba, Bu mail DoorsApp tarafından
      gönderilmektedir.
      Şifre sıfırlama isteğinizi onaylıyorsanız; aşağıdaki <b style="color:black">"Şifre Sıfırlama"</b> butonuna
      tıklayarak, yeni şifrenizi oluşturabilirsiniz. Bu işlem size ait değil ise lütfen dikkate almayınız.
      <br><br><br>
      <div>
        <a style="border: 1px solid; border-radius:15px; padding: 10px ; background-color: #050a23; color : white ; text-decoration: none;" href="https://qr.doorsapp.com.tr/reset_password/?t={{token}}"> Şifre Sıfırlama </a>
      </div>
    </div></br></br>

    </br></br>

    <div style="width: 100%; text-align:center;">
      <p>Xenon Smart Teknoloji San. ve Tic. Ltd. Şti. </p>
      <img style="width: 100px;  margin-bottom: 30px; display: block; margin:auto;"
        src="https://garajapp.com.tr/aktivasyon-maili/xenon-logo.png" />
    </div>
  </div></br></br>
</body>

</html>